<!DOCTYPE html>
<html>
<body>
    <div class="teams-sidebar teams-bar-block teams-card-4 teams-border teams-light-blue" style="width: 19%; height: 100%; position: fixed; top: 122px">
        <div class="teams-dropdown-hover">
            <a routerLink='/digital' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Digital Classroom</a>
            <div class="teams-container" style="width: 270px; position: fixed; left:227px; top:123px">
                <div class="teams-dropdown-content teams-bar-block teams-card-4 teams-border">
                    <a routerLink='/individual' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Individual Learning</a>
                    <a routerLink='/team' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Team Collaboration</a>
                    <a routerLink='/knowledge' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Knowledge Development</a>
                </div>
            </div>
        </div>
        <div class="teams-dropdown-hover">
            <a routerLink='/faculty' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Faculty Operations</a>
            <div class="teams-container" style="width: 270px; position: fixed; left:227px; top:180px">
                <div class="teams-dropdown-content teams-bar-block teams-card-4 teams-border">
                    <a routerLink='/research' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Operations Research</a>
                    <a routerLink='/news' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Operations News</a>
                </div>
            </div>
        </div>
        <a routerLink='/parent' class="teams-bar-item teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Parent/Guardian Operations</a>
    </div>
</body>
</html>
