<!DOCTYPE html>
<html>
<body>
    <div class="teams-bar teams-border teams-card-4 teams-light-blue">
        <a routerLink='/scholastic' class="teams-bar-item teams-button teams-hover-none teams-large teams-text-black teams-hover-text-white teams-padding-large">Scholastic Home</a>
        <a routerLink='/digital' class="teams-bar-item teams-button teams-hover-none teams-large teams-text-black teams-hover-text-white teams-padding-large">Digital Class Room</a>
        <div class="teams-dropdown-hover">
            <a routerLink='/faculty' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">Faculty Operations</a>
            <div class="teams-container" >
                <div class="teams-dropdown-content teams-bar-block teams-card-4 teams-border">
                    <a routerLink='/que' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">QUESTIONNAIRE FORM</a>
                    <a routerLink='/ans' class="teams-bar-item teams-light-blue teams-button teams-hover-indigo teams-large teams-text-black teams-hover-text-white teams-padding-large">QUESTIONNAIRE DETAILS</a>
                </div>
            </div>
        </div>                                                                                                                                                                        
        <a routerLink='/parent' class="teams-bar-item teams-button teams-hover-none teams-large teams-text-black teams-hover-text-white teams-padding-large">Parent/Guardian Operations</a>
        <div class="topnav-right">
            <a routerLink='/login' class="teams-bar-item teams-button teams-hover-none teams-large teams-text-black teams-hover-text-white teams-padding-large">Login</a>   
          </div>
      
    </div>
</body>
</html>
