<!DOCTYPE html>
<html>
    <style>
        .active {
        color: white;
        }
    </style>
    <body>
        <div class="teams-bar teams-center teams-card-4 teams-light-blue teams-border" style="margin-top: 10px;margin-left: 300px ;width: 32%">
            <header class="teams-wide">
                <h3>Dashboard</h3>
            </header>
            <a routerLink='/addstudent' routerLinkActive="active" class="teams-bar-item teams-button teams-hover-none teams-large teams-hover-text-white teams-padding">Add Students</a>
            <a routerLink='/viewstudent' routerLinkActive="active" class="teams-bar-item teams-button teams-hover-none teams-large teams-hover-text-white teams-padding">View Students</a>
        </div>
    </body>
</html>
